.container{
    /* position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin: 1rem; */
    background-color: transparent;
    
}

.spinner{
    border: 4px solid #f3f3f3;
    background-color: transparent;
    border-radius: 50%;
    border-top: 4px solid #333333;
    border-right: 4px solid #333333;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}